body{
  text-align: center;
  background-color: #386138;
}

img{
  width: 650px;
  height: 350px;
  display: block;
  margin: auto;
  margin-top: 80px;
  border-radius: 4px;
}

button{
  margin: 0 10px;
  margin-top: 30px;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  width: auto;
  background-color: #174b1e;
  color: white;
  border-color: #174b1e;
}





