body{
  text-align: center;
  background-color: #386138;
}

img{
  width: 650px;
  height: 350px;
  display: block;
  margin: auto;
  margin-top: 80px;
  border-radius: 4px;
}

button {
  margin: 0 10px;
  margin-top: 30px;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  width: auto;
  background-color: #174b1e;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #13581f;
}

@media only screen and (max-width: 300px) {
  .prev, .next {font-size: 11px}
}